<div id="footer" style="background-color:rgb(13, 209, 223);">
    <div class="p-5 bg-orange dark">
        <img src="//cdn.shopify.com/s/files/1/0251/6664/3277/t/5/assets/icon-fruit-footer.png?v=17960084028204729862" alt="Fruit Icon" class="fruit-icon mx-auto">
        <div class="d-flex justify-content-between container flex-wrap">
            <div class="p-2 menu-items">
                <div class="title mb-2"><h3>Experience</h3></div><div class="item"><a class="text-light" href="/pages/about-fruitstand">About FruitStand</a></div>
                <div class="item"><a class="text-light" href="/collections/experiences">Experiences</a></div>
                <div class="item"><a class="text-light" href="/pages/kitchen">Kitchen</a></div>
                <div class="item"><a class="text-light" href="/blogs/recipes">Recipes</a></div>
                <div class="item"><a class="text-light" href="/pages/fruit-library">Fruit Library</a></div>
                
            </div>
            
            <div class="p-2 menu-items">
                <div class="title mb-2"><h3>Support</h3></div><div class="item"><a class="text-light" href="/policies/shipping-policy">Shipping Policy</a></div>
                <div class="item"><a class="text-light" href="/pages/contact-us">Contact Us</a></div>
                <div class="item"><a class="text-light" href="https://help.fruitstand.com">Help &amp; Support</a></div>
                <div class="item"><a class="text-light" href="/pages/our-guarantee">Our Guarantee</a></div>
                <div class="item"><a class="text-light" href="/policies/refund-policy">Refund Policy</a></div>
                
            </div>
            
            <div class="p-2 menu-items">
                <div class="title mb-2"><h3>Farms &amp; Shops</h3></div><div class="item"><a class="text-light" href="/pages/farms">Meet The Farms</a></div>
                <div class="item"><a class="text-light" href="/pages/partner-with-fruitstand">Partner with FruitStand</a></div>
                <div class="item"><a class="text-light" href="/pages/working-with-fruitstand">Working With FruitStand</a></div>
                <div class="item"><a class="text-light" href="/pages/farm-customer-support-pledge">Farm Customer Support Pledge</a></div>
                
            </div>
            
            <div class="p-2">
                <div class="title mb-2">
                    <h3>Follow Us</h3>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://instagram.com/fruitstandcom"><img src="//cdn.shopify.com/s/files/1/0251/6664/3277/t/5/assets/icon-instagram.png?v=879736574067863110'" alt="Instagram"></a></li>
                    <li class="list-inline-item"><a href="https://facebook.com/fruitstandcom"><img src="//cdn.shopify.com/s/files/1/0251/6664/3277/t/5/assets/icon-facebook.png?v=6460354313474543319'" alt="Facebook"></a></li>
                    <li class="list-inline-item"><a href="https://pinterest.com/fruitstandcom"><img src="//cdn.shopify.com/s/files/1/0251/6664/3277/t/5/assets/icon-pinterest.png?v=6665314958251543163" alt="Pinterest"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="footer-bar dark">
        <div class="container-fluid justify-content-between d-flex align-items-center text-center flex-wrap">
            <div class="col col-12 col-md-4">Copyright © FruitStand. All rights reserved</div>
            <div class="col col-12 col-md-4"><a href="/"><img src="//cdn.shopify.com/s/files/1/0251/6664/3277/files/logo-white.png?v=1598371346" alt="FruitStand Logo White"></a></div>
            <div class="col col-12 col-md-4">
                <a href="/policies/terms-of-service">Terms of Service</a>
                &nbsp;|&nbsp;
                <a href="/policies/privacy-policy">Privacy Policy</a>
            </div>
        </div>
    </div> -->
</div>
