<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <span class="header1">Charlie Fruit Stand test page</span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <!--  -->
        </div>
        <div class="col-4 text-center">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        <a routerLink="/list_fruits" role="button" class="btn btn-success button1" >View Fruits</a>
                    </td>
                    <td>
                        <a routerLink="/edit_fruit" role="button" class="btn btn-success button1" >Edit Fruit</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="/add_fruit" role="button" class="btn btn-success button1" >Add Fruit</a>
                    </td>
                    <td>
                        <a routerLink="/delete_fruit" role="button" class="btn btn-success button1" >Delete Fruits</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <!--  -->
        </div>
    </div>
</div>
