<header>
<div id="announcementBar">
    
      
    <span><a href="" style="color: white;">Black Friday Sale! 30% off all Holiday Gift Experiences</a></span>
  

</div>


    <div class="header">
  
      <nav class="navbar navbar-expand-lg" >
  
        <a class="navbar-brand text" href="#">
          <img src="../../assets/images/Charlie's FruitStand.png" width="125" height="125" class="d-inline-block align-top-center" alt="">
          <em style="color: black; padding-left: 50px" ></em>
        </a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" style="text-decoration-line: underline;" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-left: 15px">
              <a routerLink="" class="nav-link" style="color: black; font-size: 30px; font-family: 'Bradley Hand', cursive;"><span></span> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a routerLink="list_fruits" class="nav-link" style="color: black; font-size: 30px; font-family: 'Bradley Hand', cursive;"><span></span> Fruits </a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link"  style="color: black; font-size: 30px; font-family: 'Bradley Hand', cursive;"><span></span>Bundles</a>
            </li>
            <li class="nav-item">
              <a routerLink="/About-us" class="nav-link"  style="color: black; font-size: 30px; font-family: 'Bradley Hand', cursive;"><span></span>About Us</a>
          </ul>
        </div>

        <ul class="nav navbar-nav nav-icons justify-content-lg-center align-items-lg-center flex-lg-row flex-lg-nowrap d-lg-flex mt-0">
            <li class="nav-item d-none d-lg-flex">
                <a class="nav-link nav_search_toggle" href="/search">
                    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M26.6701 24.1512L18.992 16.7576C20.4793 14.9885 21.3748 12.7406 21.3748 10.2923C21.3748 4.61787 16.5801 0.000732422 10.6874 0.000732422C4.79467 0.000732422 0 4.61782 0 10.2923C0 15.9667 4.79472 20.5838 10.6874 20.5838C13.2299 20.5838 15.5642 19.7215 17.4013 18.2894L25.0794 25.683C25.2988 25.8943 25.5867 26.0005 25.8748 26.0005C26.1628 26.0005 26.4508 25.8943 26.6702 25.683C27.11 25.2595 27.11 24.5748 26.6701 24.1512ZM10.6874 18.4172C6.03444 18.4172 2.25 14.7729 2.25 10.2923C2.25 5.81162 6.03444 2.16734 10.6874 2.16734C15.3404 2.16734 19.1248 5.81162 19.1248 10.2923C19.1248 14.7729 15.3403 18.4172 10.6874 18.4172Z" fill="#234262"></path>
</g>
<defs>
<clipPath id="clip0">
<rect width="27" height="26" fill="white"></rect>
</clipPath>
</defs>
</svg>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">
                    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23.046 16.8076C21.5756 15.3917 19.8254 14.3435 17.9159 13.709C19.9611 12.3526 21.3047 10.0825 21.3047 7.51562C21.3047 3.37152 17.8035 0 13.5 0C9.19651 0 5.69531 3.37152 5.69531 7.51562C5.69531 10.0825 7.03893 12.3526 9.08413 13.709C7.17462 14.3435 5.42447 15.3917 3.95408 16.8076C1.40426 19.263 0 22.5276 0 26H2.10938C2.10938 19.9518 7.21918 15.0312 13.5 15.0312C19.7808 15.0312 24.8906 19.9518 24.8906 26H27C27 22.5276 25.5957 19.263 23.046 16.8076ZM13.5 13C10.3596 13 7.80469 10.5397 7.80469 7.51562C7.80469 4.4915 10.3596 2.03125 13.5 2.03125C16.6404 2.03125 19.1953 4.4915 19.1953 7.51562C19.1953 10.5397 16.6404 13 13.5 13Z" fill="#234262"></path>
</svg>

                    <span class="nav-mobile-side-show ml-2"></span>
                </a>
            </li>
            <li class="nav-item">
                
    
  
  <a href="" class="nav-link wk-link wk-empty" title="View Wishlist"><div class="wk-icon">
    <svg version="1.1" xmlns="https://www.w3.org/2000/svg" width="64px" height="60.833px" viewBox="0 0 64 60.833">
    </svg>
  </div><span class="nav-mobile-side-show ml-2"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-go-cart-trigger" href="/cart">
                    <span class="cart-wrapper">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    </svg>
    <span class="js-go-cart-counter cart_count badge badge-dark" style="display: none;">0</span>
</span>
                    <span class="nav-mobile-side-show ml-4"></span>
                </a>
            </li>
        </ul>

      </nav>
  
    </div>
  
    <div class="navSpacer">
      
    </div>
  </header>
