#announcementBar {
  
    display: flex;
    justify-content: center;
    width: 100%;
    padding: .5rem;
    color: rgb(255, 210, 96);
    background-color:rgb(13, 209, 223);
}

.navbar {
    background-color: white
  }
  
  .navSpacer {
    background-color:rgb(255, 178, 85);
    width: 100%;
    height: 5px;
  }
  
  .navbar-brand.text {
    color: lawngreen;
    font-size: 35px;
    padding: 0;
  }
  
  .navbar-nav .nav-item {
    color: lawngreen;
  }
  
  .header {
    background-color: black;
  }

  