<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <span class="header1">
                Add new fruit
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            
        </div>
    </div>

    <div class="form-group">
        <form (ngSubmit)="submit()" [formGroup]="fg" id="fg" name="fg">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="text1">New Fruit Name:</span>
                                </td>
                                <td>
                                    <input type="text" name="name" id="name" formControlName="name" class="form-control text1" required >   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Description:</span>
                                </td>
                                <td>
                                    <input type="text" name="description" id="description" formControlName="description"  class="form-control text1" required >   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Location:</span>
                                </td>
                                <td>
                                    <input type="text" name="location" id="location" formControlName="location" class="form-control text1" required >   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Color:</span>
                                </td>
                                <td>
                                    <input type="text" name="color" id="color" formControlName="color"  class="form-control text1" required >   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Shape:</span>
                                </td>
                                <td>
                                    <input type="text" name="shape" id="shape" formControlName="shape" class="form-control text1" required>   
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" *ngIf="fg.get('shape').value == '' ||
                                                        fg.get('color').value == '' || 
                                                        fg.get('location').value == '' || 
                                                        fg.get('description').value == '' || 
                                                        fg.get('name').value == '' ">
                                    <button class="btn btn-dark text1" disabled >Submit</button>
                                </td>
                                <td class="text-center" *ngIf="fg.get('shape').value &&
                                                        fg.get('color').value && 
                                                        fg.get('location').value && 
                                                        fg.get('description').value && 
                                                        fg.get('name').value ">
                                    <button class="btn btn-success text1 " >Submit</button>
                                </td>
                                <td class="text-center">
                                    <a routerLink="/list_fruits" role="button" class="btn btn-dark button1 text1" >Cancel</a>
                                </td>
                            </tr>                     
                        </tbody>    
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
