<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <span class="header1">List of Current Fruits</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <table class="table table-bordered text-left">
                <thead>
                    <tr>
                        <th>
                            <span class="header2">Name</span>
                        </th>
                        <th>
                            <span class="header2">Description</span>
                        </th>
                        <th>
                            <span class="header2">Color</span>
                        </th>
                        <th>
                            <span class="header2">Shape</span>
                        </th>
                        <th>
                            <span class="header2">Location</span>
                        </th>
                        <th colspan="2">
                            <span class="header2">Options</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fruit of observing">
                        <td>
                            <span class="text1">{{fruit.name}}</span>
                            <span  hidden><br><input type="text" value="{{observing.indexOf(fruit)}}" #that></span>
                        </td>
                        <td>
                            <span class="text1">{{fruit.description}}</span>
                        </td>
                        <td>
                            <span class="text1">{{fruit.color}}</span>
                        </td>
                        <td>
                            <span class="text1">{{fruit.shape}}</span>
                        </td>
                        <td>
                            <span class="text1">{{fruit.location}}</span>
                        </td>
                        <td class="text-center">
                            <a routerLink="/edit_fruit" class="text1 btn btn-warning" role="button" (click)="toChangeData(that.value)">edit</a>
                        </td>
                        <td class="text-center">
                            <a routerLink="/delete_fruit" class="text1 btn btn-danger" (click)="toChangeData(that.value)">del</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" class="text-center">
                            <a routerLink="/add_fruit" class="text1 btn btn-info" role="button">Add</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-12 text-center">
            <a routerLink="/" role="button" class="btn btn-success button1" >Index</a>
        </div>
    </div> -->
</div>
