/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
table.table-bordered{
    border:2px solid black;
    margin-top:20px;
    padding: 8px;
  }
table.table-bordered > thead > tr > th{
    border:2px solid black;
    padding: 8px;
}
table.table-bordered > tbody > tr > td{
    border:2px solid black;
    padding: 8px;
}
.border1{
    border: solid black 1px;
}
.header1, .header2, .text1{
    font-family: 'Crimson Text', serif;
}
.header1{
    font-size: 48px;
}
.header2{
    font-size: 32px;
}
.text1{
    font-size: 18px;
}