<div class="container" *ngIf="id > 0">
    <div class="row">
        <div class="col-12 text-center">
            <span class="header1">
                Edit fruit
            </span>
        </div>
    </div> 


    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <span class="text1">Current Fruit Name:</span>
                        </td>
                        <td>
                            <span class="text1">{{oldName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text1">Current Description:</span>
                        </td>
                        <td>
                            <span class="text1">{{oldDesc}}</span> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text1">Current Location:</span>
                        </td>
                        <td>
                            <span class="text1">{{oldLoc}}</span> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text1">Current Color:</span>
                        </td>
                        <td>
                            <span class="text1">{{oldCol}}</span> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text1">Current Shape:</span>
                        </td>
                        <td>
                            <span class="text1">{{oldSha}}</span>
                        </td>
                    </tr>
                                     
                </tbody>    
            </table>
        </div>
    </div>

    <div class="form-group">
        <form (ngSubmit)="edit()" [formGroup]="fg2" id="fg2" name="fg2">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="text1">New Fruit Name:</span>
                                </td>
                                <td>
                                    <input type="text" name="name" id="name" formControlName="name" class="form-control text1" required >   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Description:</span>
                                </td>
                                <td>
                                    <input type="text" name="description" id="description" formControlName="description"  class="form-control text1" required >   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Location:</span>
                                </td>
                                <td>
                                    <input type="text" name="location" id="location" formControlName="location" class="form-control text1" required >   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Color:</span>
                                </td>
                                <td>
                                    <input type="text" name="color" id="color" formControlName="color"  class="form-control text1" required >   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Shape:</span>
                                </td>
                                <td>
                                    <input type="text" name="shape" id="shape" formControlName="shape" class="form-control text1" required>   
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" *ngIf="fg2.get('shape').value == '' ||
                                                        fg2.get('color').value == '' || 
                                                        fg2.get('location').value == '' || 
                                                        fg2.get('description').value == '' || 
                                                        fg2.get('name').value == '' ">
                                    <button class="btn btn-dark text1" disabled >Submit</button>
                                </td>
                                <td class="text-center" *ngIf="fg2.get('shape').value &&
                                                        fg2.get('color').value && 
                                                        fg2.get('location').value && 
                                                        fg2.get('description').value && 
                                                        fg2.get('name').value">
                                    <button class="btn btn-success text1 " >Submit</button>
                                </td>
                                <td class="text-center">
                                    <a routerLink="/list_fruits" role="button" class="btn btn-dark text1" >Cancel</a>
                                </td>
                            </tr>                     
                        </tbody>    
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container" *ngIf="id == undefined">
    <div class="row">
        <div class="col-12 text-center">
            <span class="header1">No fruit selected</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a routerLink="/list_fruits" role="button" class="btn btn-success button1" >Return</a>
        </div>
    </div>
</div>
