<div class="container" *ngIf="id > 0">
    <div class="row">
        <div class="col-12 text-center">
            <span class="header1">
                Delete fruit
            </span>
        </div>
    </div>


            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="text1">Fruit Name:</span>
                                </td>
                                <td>
                                    <span class="text1">{{observing[deleteID].name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Description:</span>
                                </td>
                                <td>
                                    <span class="text1">{{observing[deleteID].description}}</span> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Location:</span>
                                </td>
                                <td>
                                    <span class="text1">{{observing[deleteID].location}}</span>   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Color:</span>
                                </td>
                                <td>
                                    <span class="text1">{{observing[deleteID].color}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Shape:</span>
                                </td>
                                <td>
                                    <span class="text1">{{observing[deleteID].shape}}</span>   
                                </td>
                            </tr>   
                            <tr>
                                <td class="text-center">
                                    <a routerLink="/list_fruits" role="button" class="btn btn-danger text1" (click)="confirm(id)" >Delete</a>
                                </td>
                                <td class="text-center">
                                    <a routerLink="/list_fruits" role="button" class="btn btn-dark text1" >Cancel</a>
                                </td>
                            </tr>                     
                        </tbody>    
                    </table>
                </div>
            </div>
</div>

<div class="container" *ngIf="id == undefined">
    <div class="row">
        <div class="col-12 text-center">
            <span class="header1">No fruit selected</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a routerLink="/list_fruits" role="button" class="btn btn-success button1" >Return</a>
        </div>
    </div>
</div>
