.container {
    padding: 10px;
    border: 3px dodgerblue solid;
    width: 50%;
    
  }

  .headline {
    margin-top: 100px;
    text-align: center;
  }

  .Spacer {
    background-color:rgb(255, 178, 85);
    width: 100%;
    height: 5px;
  }

   .harvest{
    font-family: "Recoleta";
    font-size: calc(1.275rem + 1.46667vw);
    text-transform: none;
    line-height: 1.25;
    color:rgb(13, 209, 223);

   }

    .btn:not(.btn-outline).btn-grass {
        background-color:rgb(13, 209, 223);
        color: black;
    }

  
  
  
  
  /* Slideshow container */
  .slideshow-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  
  #button-container {
    border: 5px dodgerblue solid;
  }
  
  /* Next & previous buttons */
  
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 300px;
  ;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text-block {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 98%;
    text-align: center;
    background-color: #cbcbcb
  
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: relative;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  .text-body {
    color: white;
  }
  
  ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
  }
  
  ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }