<body>
    <div id="top-background" style="background-image: url(../../assets/images/fruitbanner.png); background-size: 100% 100%; background-repeat: no-repeat;">
        <div class="content">
            <div class="callout calendar">
                <span></span>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 hero-inner-box">
                        <div class="bg-opaque p-2 p-lg-4 pt-4 text-left" style="border: 2px black solid; margin: 50px;">
                            <div class="textborder" style="background-image: url(../../assets/images/Fruit-background.png); background-size: 100% 100% ; padding: 5px; border: 2px black solid;">
                            <div class="text-formal-md no-shadow text-left subtitle">
                                <h2 class="harvest" style="background-color: white; text-decoration: underline ;">
                                Black Friday Sale!
                                </h2>
                                <hr style="background-color:rgb(255, 178, 85);">
                            </div>
                            <h2 class="text-formal-lg no-shadow text-blue text-left" style="background-color: white;">
                                Save 30% On Our Epic Holiday Experiences!
                            </h2>
                            <div class="copy"><h4 style="background-color: white;">Four farms, four food artisans, four days to save 30%.  Get yours before they (and the savings) are gone!</h4></div>
                            <div class="d-flex justify-content-center justify-content-lg-start mt-3 flex-wrap">
                                
                                <div class="py-2">
                                    <a href="" class="btn btn-primary" style="margin-left: 50px;">Get The Perfect Gift</a>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br>
        </div>
        <br><br><br><br><br><br>
    </div>


    </div>
    <div class="Spacer"></div>

    <div class="headline" style="padding: 50px;">
        <h3>________________________________________________________________________________________________________________________________________</h3>
        <br>
      <h1 class="harvest">Shop The Extraordinary</h1>

        <h2>Have you ever seen a lime that looks like a tiny pickle? Or a gooey fruit that tastes even better the worse it looks? Do you know what to do with a longan or a mangosteen or a cherimoya?
             Of course not. But we do.</h2>
        <h3>___________________________________________________________________________</h3>
        <br>
      </div>

      <div class="container">
        <div class="container-fluid">
          <h1 class="text-center"></h1>
          <h2 class="text-center"></h2>
          <ngb-carousel class="align-content-center">
            <ng-template ngbSlide>
              <div class="wrapper">
                <img src="../../assets/images/8d5428828ca1ed377f910728429ab72a.jpg" style="width: 100%; height: 100%;" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3></h3>
                <p> </p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="wrapper">
                <img src="../../assets/images/Fruit-background.png" style="width: 100%; height: 100%;" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3></h3>
                <p></p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="wrapper">
                <img src="../../assets/images/unnamed.jpg" style="width: 100%; height: 100%;" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3></h3>
                <p></p>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div id="shopify-section-newsletter" class="shopify-section"><section id="newsletter" class="text-center pt-0">
        <h2 class="harvest">Never miss a harvest</h2>
        <h5>Get exclusive discounts, news, recipes and stories. Come join us, you're always welcome!</h5>

        <hr>


        <div class="mt-5">
            <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
            <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter">
            
            
            <div class="d-flex justify-content-center flex-wrap">
                <div class="p-2">
                    <div class="form-label-group">
                        <input type="email" class="form-control" name="contact[email]" id="NewsletterEmail" value="" placeholder="Email address" autocorrect="off" required="" autocapitalize="off">
                        <label for="Email"></label>
                    </div>
                </div>
                <div class="p-2">
                    <input type="submit" class="btn btn-grass" value="Sign Up" id="Subscribe">
                </div>
            </div>
            
            </form>
        </div>
    </section>
    </div>
      
      
      
</body>